@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to </h1>
    <h2>Faculty of Electrical Engineering and Information Technologies (FEEIT) </h2>
</div>
